
html {
  height: 100%;
  // font-size: calc(100vw / 750 * 100);
}

body {
  height: 100%;
  @include n-background-color('background');
  @include n-text-color('color');

  // color: $color-text-primary
}


.container {
  height: 100%;
}



.divider-line {
  background-color: $border-color-primary;
}