

.indexFlight {
  // background: url("https://pages.c-ctrip.com/flight_h5/swift/home/home_bg.png")
  //   no-repeat;
  // background-size: 100% auto;

}

@include b(fly) {
  background: url("https://pages.c-ctrip.com/flight_h5/swift/home/home_bg.png")
    no-repeat;
  background-size: 100% auto;
  min-height: 800px;
  @include e(flight) {
    padding: 12px $homePaddingLeft;
  }

  

}

