$cardIconList: (
  jiuDian: -84px,
  minSu: -336px,
  teJia: 0px
);

@each $iconName, $iconSize in $cardIconList {
  .#{$iconName} {
    background-position: 0 $iconSize;
  }
}


@each $header, $size in (h1: 2em, h2: 1.5em, h3: 1.2em) {
  #{$header} {
    font-size: $size;
  }
}