

$browser-default-font-size: 16px !default;




// global var


// Color 

$color-primary: #FF7D13;
$color-white: #ffffff;
$color-secondary: #0086f6;


// Color-text
$color-text-primary: #333333;
$color-text-secondary:#999999;
$color-text-tertiary: $color-secondary;
$color-text-quaternary: #FF7528;
$color-text-fifth: #00bc9e;
$color-text-sixth: #666666;
$color-text-seventh: #f60;
$color-text-eighth: #ff4607;
$color-text-ninth: #663c00;
$color-text-tenth: #ae6e15;

$color-text-white: $color-white;


// BackGround 
$background-color-primary: #f4f4f4;
$background-color-secondary: #8b98e2;
$background-color-tertiary: #cccccc;
$background-color-white: $color-white;
$background-color-quaternary: #ffebe3;
$background-color-fifty: #fdefd2;
$background-color-sixth: #f8f8f8;
$background-color-dark: #18191a;



// border

$border-color-primary: #e4e4e4


