

// Color 

$color-primary: #FF7D13;
$color-white: #ffffff;



// Color-text
$color-text-primary: #333333;
$color-text-secondary:#999999;
$color-text-tertiary: #0086f6;
$color-text-quaternary: #FF7528;
$color-text-fifth: #00bc9e;


// BackGround 
$background-color-primary: #f8f8f8;
$background-color-secondary: #8b98e2;


// $color-black: 